<section
  id="splash"
  class="w-full h-[500px] max-h-screen flex flex-col justify-between items-center bg-AppWhite "
>
  <h1 class="text-4xl font-ProximaBold text-center mt-[150px] text-AppGrayDark mb-6"
      style="font-size: 27px">
     Budget Tracker
  </h1>
  <div class="flex flex-col items-center w-full space-y-5 ">
    <%= link_to "Se Connecté", new_user_session_path,
                class:"flex items-center justify-center
                bg-AppBlue w-4/5 h-12 text-white
                font-ProximaLight text-center
                sm:max-w-sm button-hover" %>
     <%= link_to "Creer un Compte", new_user_registration_path,
                 class:"flex items-center
                  justify-center bg-AppGray
                  w-4/5 h-12 text-AppGray
                  font-ProximaLight text-center
                  sm:max-w-sm button-hover border mt-0" %>
  </div>
</section>
