<div class="w-full h-full flex flex-col justify-center items-center">
  <h1 class="w-full text-center text-2xl font-ProximaBold mb-8"> My Budgets Management</h1>
  <div class="w-full rounded">
    <button class="w-full bg-AppBlue hover:bg-green-700 text-white font-ProximaBold py-6 px-6 rounded">
      Sign In
    </button>
    <button class="w-full bg-white hover:bg-AppGray text-AppGrayLight font-bold py-6 px-6 rounded">
      Sign Up
    </button>
  </div>
</div>